.dropdown{
    text-align: center;
}
.card{
    margin-bottom: 10px;
}
body{
    background-image: url(../frontend/Bibliotecas-libros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario{
    background: rgba(0,-0,-0,-.5);
    padding: 20px;
    border-radius:10px;
}

.ingresar{
    background-attachment: fixed;
    background-color: brown;
}